@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html,
body{
	height:100%;
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color: whitesmoke;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	position:relative;

	
}
/* Header */
.header{
	min-height: 75px;
	max-height: 75px;
    background: transparent;
    display:grid;
	grid-template-columns:auto auto auto;
	color:#fff;
	transition:.75s;
}
.header:hover{
	background-color:#d3d3d3;
	min-height:90px;
	max-height:90px;
	opacity:80%;
}
.brand{
	font-size:x-large;
	font-weight:bold;
    color:black;
    padding-top:10px;
    padding-left:35px;
}
#menu-area{
	display:block;
}
#nav {
	min-width: 545px;
}
#nav ul{

    display:grid;
	grid-template-columns:auto auto auto auto auto;
}
#nav a{
	color:black;
	text-decoration:none;
	letter-spacing:3px;
	font-weight:bold;
	font-size:14px;
	transition:0.5s;
}
#nav a:hover{
	color:#E94B3CFF;
	font-weight: bold;
	font-size: larger;
}
#nav ul li{
	list-style:none;
}
#nav ul li a{
    text-decoration:none;
}
#nav ul li ul{
    display:grid;
    grid-template-columns:auto;
	line-height: 40px;
	padding-right:15px;
}
#nav ul li ul li{
    list-style:none;
    display:none;
}

#nav ul li:hover ul{
	background:#333;
	border-radius:15%;
}
#nav ul li:hover ul li{
	display:block;
}
.burger{
	float:right;
    padding-top:10px;
    padding-left:100px;
}
.burger div{
	background-color:black;
	width:25px;
	height:3px;
    margin:5px;
}

/* footer */
.footer{
	position:relative;
	bottom:0;
}
.segment-one p,.segment-two p,.segment-three p,.segment-four p{
	color:#999;
	line-height:25px;
}

h2,h3 {
	color:#fff;
	font-size:18px;
	font-family: 'Courier New', Courier, monospace;
}

.footer-top{
	background:#111;
	height:225px;
	padding-top:30px;
	padding-bottom:60px;
}
.row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 85px;
	padding-left:75px;
	margin-top:0px;
}
.segment-one,.segment-two,.segment-three{
	width: 200px;
}
.segment-four{
	width: 273px;
	padding-right:50px;
}
.segment-one h3{
	letter-spacing:3px;
	margin :10px 0;
}

.segment-one h3:before,.segment-two h2:before,.segment-three h2:before,.segment-four h2:before{
	content:'|';
	color:#c65039;
	padding-right: 10px;
}
.segment-two ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.segment-two ul li{
	border-bottom :1px solid  rgba(255,255,255,0.3);
	line-height: 40px;
}
.segment-two ul li a{
	text-decoration:none;
	color:#999;
}
.segment-four form input[type=submit]{
	background:#c65039;
	border:none;
	padding:3px 15px;
	margin-left: -5px;
	color:#fff;
	text-transform: uppercase;
}
.footer-bottom{
    height:50px;
	color:#999;
	text-align:center;
	background:#000;
	line-height:55px;
}
.icons {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
}
.icons img{
	width:30px;
}
/*Main*/
.main{
    background-color: #d3d3d3;

}
.title{

	color:white;
	font-size: 26pt;
	font-family: sans-serif;
	letter-spacing: 4px;
	padding-left: 500px;
	padding-top:35px;
	padding-bottom: 35px;
	border-bottom: 1px solid whitesmoke;
	
}
.subtitle{
	color:white;
	font-size: 18pt;
	font-family: sans-serif;
	letter-spacing: 4px;
	padding-bottom:15px;
	
}
.items-container{
	padding-top:30px;
	padding-left:200px;
	padding-bottom:25px;
}
.items{
	display:grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-gap:15px;
}
.items img{
	height: 180px;
	width: 180px;
	border-radius: 15px;
}
.items img:hover{
	transform: scale(1.5);
    border-radius: 45px;
    box-shadow:0 0 10px #FFF, 0 0 40px #FFF, 0 0 80px #FFF;
}